<?php

# Config
$config = [
    'graylog_host' => 'graylog.local.fr',
    'graylog_port' => '12201',
    'imap_host' => 'imap.gmail.com',
    'imap_port' => 993,
    'imap_user' => '',
    'imap_password' => '',
];
